{% extends "app/base_site.html" %}
{% load static %}

{%  block title %}Índice Medio{% endblock %}


{% block content %}
    <div class="right_col" role="main" style="overflow:hidden">
        <div class>
            <!-- Titulo -->
            <div class="page-title">
              <div class="title_left">
                <h3>Índice de Medio</h3>
              </div>
              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Introduzca medio...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <!-- Medio content -->
            <div class="col-md-12 col-sm-9 col-xs-12">
                <!-- Panel -->
                <div class="x_panel">
                    <!-- Titulo Panel -->
                    <div class="x_title" style="border-bottom: none"><h2>{% if titulo %} {{ titulo }} {% else %} Medio {% endif %}</h2></div>
                    <!--<h2><i class="fa fa-bars"></i> Tabs <small>Float left</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                  </div>-->

                    <!-- Contenido Panel -->
                    <div class="x_content">

                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <!-- Titulo de cada tab -->
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Home</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="info-tab" data-toggle="tab" aria-expanded="false">Información</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="tweets-tab" data-toggle="tab" aria-expanded="false">Últimos Tweets</a>
                        </li>
                      </ul>

                        <!-- Contenido de cada tab -->
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            {% include 'medios/medio_index/home_tab.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="info-tab">
                            {% include 'medios/medio_index/info_tab.html' %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="tweets-tab">
                            {% include 'medios/medio_index/tweets_tab.html' %}
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    <!-- Datatables -->
    <script src="{% static "/static/vendors/datatables.net/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-buttons/js/dataTables.buttons.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-buttons/js/buttons.flash.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-buttons/js/buttons.html5.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-buttons/js/buttons.print.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-responsive/js/dataTables.responsive.min.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js" %}"></script>
    <script src="{% static "/static/vendors/datatables.net-scroller/js/dataTables.scroller.min.js" %}"></script>
    <script src="{% static "/static/vendors/jszip/dist/jszip.min.js" %}"></script>
    <script src="{% static "/static/vendors/pdfmake/build/pdfmake.min.js" %}"></script>
    <script src="{% static "/static/vendors/pdfmake/build/vfs_fonts.js" %}"></script>

    <!-- Bokeh Graphs -->
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.15.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.15.min.js"></script>
{% endblock javascripts %}

{% block stylesheets %}
    {{ block.super }}
    <link href="{% static "/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" %}" rel="stylesheet">

    <!-- Bokeh Graphs -->
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css" rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.0.min.css" rel="stylesheet" type="text/css">
{% endblock stylesheets %}