{% extends "app/base_site.html" %}
{% load static %}

{% block content %}
    <div class="right_col" role="main">
        <div class="row">
        </div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"></div>
        {% if form %}
            <div class="col-md-4 col-sm-6 col-xs-12" style="margin-top: 200px">
            <div class="x_panel">
                <div class="x_title"><h3>{{ form_title }}</h3></div>
                <div class="x_content">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <button class="btn btn-default submit" type="submit" style="float: right;">Subir</button>
                        </div>
                        {% if form.non_field_errors %}
                            <ul class='form-errors'>
                            {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    {% if subido %}{{ subido }}{% endif %}
                    </form>
                </div>
            </div>
            </div>
        {% endif %}
        <div class="col-md-4 col-sm-6 col-xs-12"></div>
    </div>
    </div>
{% endblock content %}