{% if tweet_list %}

<div class="x_content">
    <p class="text-muted font-13 m-b-30">
    </p>
    <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
    <thead>
    <tr role="row">
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Usuario: activate to sort column ascending" style="width: 263px;">Usuario</th>
        <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Enlace: activate to sort column descending" aria-sort="ascending" style="width: 420px;">
            Enlace</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Retweets: activate to sort column ascending" style="width: 201px;">Retweets</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Me gusta: activate to sort column ascending" style="width: 113px;">Me gusta</th>
        <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" aria-label="Fecha: activate to sort column ascending" style="width: 197px;">Fecha</th>
    </thead>
    <tbody>
    {% for tweet in tweet_list %}
        {% if forloop.counter|divisibleby:2 %}
            <tr role="row" class="odd">
        {% else %}
            <tr role="row" class="even">
        {% endif %}
            <td class=""><a href="https://twitter.com/{{ tweet.0 }}">{{ tweet.1 }}</a></td>
            <td class="sorting_1"><a href= href="https://twitter.com/statuses/"{{ tweet.2 | safe }}>{{ tweet.3|make_list|slice:':60'|join:''}}...</a></td>
            <td>{{ tweet.4 | safe }}</td>
            <td>{{ tweet.5 | safe }}</td>
            <td>{{ tweet.6 | safe }}</td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% else %}
    <p>No hay tweets disponibles.</p>
{% endif %}

